html{
margin:0px;
padding:0px;
}

body{
margin:0px;
padding:0px;
width:350px;
height:350px;
}

div{
border-top:0px;
position:relative;
display:block;
}

#comm{
/* padding:7px; */
margin:7px;
display:block-inline;
width:300px;
color: red;
}

#comment-set{
	height: 53px;
	position:relative;
	top: -30px;
	left: -5px;
}

#Dist{
	float:right;
		position: absolute;
		left: 110px;
		width:60px;
	}

#angle{
		float:right;
			position: absolute;
			left: 190px;
		}

#less {
	width:30px;
}

input[type="text"]{
float:right;
	position: absolute;
    left: 120px;
    width:200px;
}

input[id="Namber"]{
	position: absolute;
	top: 9px;
	left: 120px;
    width:170px;
}

input[id="Raport"]{
	position: absolute;

	left: 120px;
    width:60px;
}

#Rd{
	position: absolute;
	left: 260px;
}

input[id="Polurot"]{
	position: absolute;
	left: 280px;
	width:40px;
}

#RY{
	position: absolute;
	left: 190px;
}

input[id="PolurotY"]{
	position: absolute;
	left: 210px;
	width:40px;
}

input[id="GAP"]{
	position: absolute;

	left: 120px;
    width:100px;
}

input[id="GAP2"]{
	position: absolute;
	left: 260px;
	width:60px;
}

input[name="XYR"]{
/*float:left;*/
width:50px;
}

input[id="diam1"]{

width:50px;
}

input[id="diam2"]{

width:50px;
}

input[id="Angle"]{

margin-left:65px;
width:30px;
}

input[id="Line"]{


width:30px;
}

input[id="Material"]{


width:80px;
}



#check {
	width: 20px;
    height:20px;
	margin-left:25px;
}

#check2 {
	width: 20px;
    height:20px;
	margin-left:45px;
}

#knife1 {

	margin-top: 5px;
}
#gross{
	margin-left: 15px;
}

input[type="radio"]{
float:right;
width:34px;
height:34px;
margin-left:22px;
margin-top:-10px;
z-index:2;
cursor: pointer;
}

img{
vertical-align: middle;
padding-top: -22px;
z-index:1;
}

p{
margin:0px;
padding-top:0px;
padding-right:0px;
padding-left:7px;
padding-bottom:0px;
text-align:left;
}

#button{
text-align:center;
}

#Settings{
position:relative;
align-items:center;
width:100%;
height:85%;
}

#LabelTextbox{
padding-left:7px;
padding-top: 10px;
position:relative;
display:block-inline;
width:100%;
height:8%;
}

#LabelTextbox2{
padding-left:7px;
padding-top: 10px;
position:relative;
display:block-inline;
width:100%;
height:8%;
}

#manager{
	margin-top: -15px;
	}

.east{
	padding-left:7px;
}


#LabelDinamics{
padding-left:7px;
padding-top: 10px;
position:relative;
display:block-inline;
width:100%;
height:8%;
}

#Wrap{
padding-left:7px;
padding-top: 10px;
position:relative;
display:block-inline;
width:100%;
height:8%;

}
#d2{

	margin-left: 25px;
}

#diam1{

	margin-left: 2px;
}

#diam2{

	margin-left: 2px;
}

#elipse{
	margin-left: 5px;
}

#checkLabel{
margin-left: 50px;
}

#checkLabel2{
margin-left: 70px;
}


#Forms {
padding-top:20px;
margin-bottom: 20px;
}

#Forms label:hover::before {
	content: attr(for);
	font-family: Arial, -apple-system, sans-serif;
	text-transform: capitalize;
	font-size: 11px;
	position: absolute;
	top: 170%;
	left: 0;
	right: 0;
	opacity: 0.75;
	background-color: #323232;
	color: #fff;	
	padding: 4px;
	border-radius: 13px;
	display: block;
}

.Figures{
width:44px;
height:34px;
display:inline-block;
margin-right:20px;
}

.Figures label {
	cursor: pointer;
	position: relative;
	

}

.Figures label + label {
	
	margin-left: 15px;
}


input[type="radio"] {
	opacity: 0; /* hidden but still tabable */
	position: absolute;
	
}

input[type="radio"] + span {
	color: #B3CEFB;
	border-radius: 110px;
padding-top:11px;
padding-bottom:11px;
padding-right:22px;
padding-left:22px;
margin-top:10px;
margin-left:50%;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

input[type="radio"]:checked + span {
	color: #D9E7FD;
  background-color: #4285F4;
}

#bot:disabled {
	background-color: #8090ac;
}

input[type="radio"]:focus + span {
	color: #fff;
}

.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* #margin: 4px 0px 0px 0px; */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    position:relative;
    top:-30px;

}

.button{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

.btnXml{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin-right:10px;
    /* #margin: 0px 0px; */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    position:absolute;
    left:295px;
    top:8px;
}

.btnXml{
    background-color: yellow; 
    color: black; 
    border: 2px solid #008CBA;
}

.btnXml:hover {
    background-color: #008CBA;
    color: white;
}

.checkboxFour{
    /* #text-align:center; */
    margin-left: 30px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
#Forms label:hover::before{
	content: attr(for);
	font-family: Arial, -apple-system, sans-serif;
	text-transform: capitalize;
	font-size: 11px;
	position: absolute;
	top: 170%;
	left: 0;
	right: 0;
	opacity: 0.75;
	background-color: #323232;
	color: #fff;	
	padding: 4px;
	border-radius: 13px;
	display: block;
        width:60px;
}

img{
margin-top:-7px;
margin-left:-33px;
padding-right:10px;
}

#Forms{
margin-bottom:20px;
}

input[type="radio"] + span {
	color: #B3CEFB;
	border-radius: 0px;

padding-top:11px;
padding-bottom:11px;
padding-right:22px;
padding-left:44px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
 
#button{
	margin-top: -17px;
}

#btnSet{
	background-color: gray;
	border: none;
	padding: 5px 5px;
	margin: -86px 0px 0px 22px;
}

#save{
	margin-left: 60px;
	margin-top: 50px;
} 

#cancel{
	margin-top: -46px;
	margin-left: 200px;
} 

#Set{
	float:left;
	margin: 10px;
	margin-bottom: 10px;

} 

.red {
	background-color: #f57373;
}

.yel {
	background-color: #f5e873;
}

.colorSet{

    width:70px;
}

.btnBox{
	float:left;
	z-index: 0;
}

#colorBox{
	float:left;
	margin-left: 15px;
	z-index: 1;
}

.colorLabel{
	float:left;
	padding-right:10px;
}

.field {
	clear:both;
	text-align:right;
	line-height:30px;
}
}